ul li a.active {
  color: #FD6C23 !important;
  background: none !important;
  font-weight: 700;
  text-decoration: underline;
}
ul li a.active:hover {
  color: #AFDA8E !important;
  font-weight: 700;
}

ul li a:hover {
  background: none !important;
  color: #AFDA8E !important;
}

ul li a {
  color: #FFFFFF;
  font-weight: 500;
}
